<mat-tab-group class="profile-tabs">
  <mat-tab>
    <ng-template mat-tab-label>
      <div
        style="
          display: flex;
          align-items: center;
          justify-content: center;
          color: black;
        "
      >
        <h3 style="margin: 0">Información personal</h3>
      </div>
    </ng-template>

    <div class="password-reset-container">
      <div class="password-reset-form">
        <h1>Información personal</h1>
        <form (ngSubmit)="formSubmit($event)">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Nombre</mat-label>
            <input
              [disabled]="!editar"
              required
              [(ngModel)]="user.name"
              name="nombre"
              matInput
              placeholder="Digite su nombre"
            />
          </mat-form-field>
          <!-- <mat-form-field class="full-width" appearance="outline">
            <mat-label>Apellido</mat-label>
            <input
              [disabled]="!editar"
              required
              [(ngModel)]="user.surname"
              name="apellido"
              matInput
              placeholder="Digite su apellido"
            />
          </mat-form-field> -->
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Email</mat-label>
            <input
              [disabled]="!editar"
              required
              [(ngModel)]="user.email"
              name="email"
              type="email"
              matInput
              placeholder="Digite su email"
            />
          </mat-form-field>
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Teléfono</mat-label>
            <input
              [disabled]="!editar"
              required
              [(ngModel)]="user.phone"
              name="telefono"
              matInput
              placeholder="Digite su telefono"
            />
          </mat-form-field>
          <div class="container">
            <div class="vertical-center">
              <button
                *ngIf="!editar"
                mat-raised-button
                (click)="onEditar($event)"
                class="buttonVenus long-button"
              >
                Editar
              </button>

              <button *ngIf="editar" mat-raised-button class="buttonVenus">
                Guardar Cambios
              </button>
              <div style="margin-left: 3px; margin-right: 3px"></div>
              <button
                *ngIf="editar"
                mat-raised-button
                class="buttonVenus"
                (click)="onCancelar($event)"
              >
                Cancelar
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <div
        style="
          display: flex;
          align-items: center;
          justify-content: center;
          color: black;
        "
      >
        <h3 style="margin: 0">Seguridad</h3>
      </div>
    </ng-template>
    <div class="password-reset-container">
      <div class="password-reset-form">
        <h1>Restablecer Contraseña</h1>
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Contraseña actual</mat-label>
          <input
            type="password"
            [(ngModel)]="currentPassword"
            name="currentPassword"
            matInput
            placeholder="Digite la contraseña actual"
          />
        </mat-form-field>
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Nueva contraseña</mat-label>
          <input
            type="password"
            [(ngModel)]="newPassword"
            name="newPassword"
            matInput
            placeholder="Enter new password"
          />
        </mat-form-field>
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Confirmar nueva contraseña</mat-label>
          <input
            type="password"
            [(ngModel)]="confirmPassword"
            name="confirmPassword"
            matInput
            placeholder="Confirm new password"
          />
        </mat-form-field>
        <div class="button-container">
          <button
            type="submit"
            class="buttonVenus"
            mat-raised-button
            (click)="resetPassword()"
          >
            Reestablecer contraseña
          </button>
        </div>
      </div>
    </div>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <div
        style="
          display: flex;
          align-items: center;
          justify-content: center;
          color: black;
        "
      >
        <h3 style="margin: 0">Preferencias</h3>
      </div>
    </ng-template>

    <div class="wrapper-principal-preferencias">
      <div class="wrapper-izq-preferencias">
        <div class="password-reset-container">
          <div class="password-reset-form-preferencias">
            <h1>
              Selecciona los métodos por los cuales deseas recibir
              notificaciones
            </h1>
            <div class="pref-cajon">
              <section class="example-section">
                <span class="example-list-section">
                  <mat-checkbox
                    class="example-margin"
                    [checked]="allComplete"
                    [indeterminate]="someComplete()"
                    (change)="setAll($event.checked)"
                  >
                    {{ task.name }}
                  </mat-checkbox>
                </span>
                <span class="example-list-section">
                  <ul>
                    <li *ngFor="let subtask of task.subtasks">
                      <mat-checkbox
                        [value]="subtask.value"
                        [(ngModel)]="subtask.completed"
                        (ngModelChange)="updateAllComplete()"
                        class="notificaciones"
                        [checked]="isOptionSelected(subtask)"
                      >
                        {{ subtask.name }}
                      </mat-checkbox>
                    </li>
                  </ul>
                </span>
              </section>
            </div>
            <div class="vertical-center">
              <button
                (click)="salvarOpciones()"
                type="submit"
                class="buttonVenus"
                mat-raised-button
              >
                Actualizar métodos
              </button>
            </div>
          </div>
        </div>
        <div class="frecuencias-notificacion-container">
          <div class="frecuencias-notificacion-preferencias">
            <h1>
              Anticipación de notificaciones
              <button
                class="anticipa-tooltip"
                mat-icon-button
                style="color: #3f51b5"
                aria-label="Button that displays a tooltip when focused or hovered over"
                matTooltip="Configura con cuánta anticipación se va a recibir notificaciones del próximo ciclo menstrual y próximos días fértiles a través de los métodos seleccionados."
              >
                <mat-icon class="el-tooltip">info</mat-icon>
              </button>
            </h1>

            <div class="pref-cajon">
              <section class="example-section">
                <mat-form-field class="full-width" appearance="outline">
                  <mat-label>Anticipación</mat-label>
                  <mat-select [(ngModel)]="formFrecuenciaNotificacion">
                    <mat-option
                      *ngFor="let frec of frecuenciasNotificaciones"
                      [value]="frec"
                      >{{ frec }}</mat-option
                    >
                  </mat-select>
                </mat-form-field>
              </section>
            </div>
            <div class="vertical-center">
              <button
                (click)="salvarOpcionesFrecuecia()"
                type="submit"
                class="buttonVenus"
                mat-raised-button
              >
                Actualizar frecuencia
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="wrapper-der-preferencias">
        <div class="wrapper-pronosticos">
          <h1>Envío de pronósticos</h1>
          <div class="wrapper-notificacion-individual">
            <div class="wrapper-imagen">
              <img
                src="../../../assets/siguiente-periodo.png"
                height="66"
                width="66"
              />
            </div>
            <div class="notifications-section">
              <h3>
                Obtener el pronóstico de tu siguiente período, selecciona
                WhatsApp o SMS y haz click en el botón.
              </h3>
              <div class="div-boton">
                <button
                  (click)="sendNextPeriodWA()"
                  class="buttonVenus"
                  mat-raised-button
                >
                  Enviar por WA
                </button>
                <button
                  (click)="sendNextPeriodSMS()"
                  class="buttonVenus"
                  mat-raised-button
                >
                  Enviar por SMS
                </button>
              </div>
            </div>
          </div>
          <div class="wrapper-notificacion-individual">
            <div class="wrapper-imagen">
              <img
                src="../../../assets/siguiente-fertiles.png"
                height="66"
                width="66"
              />
            </div>
            <div class="notifications-section">
              <div class="wrapper-imagen"></div>
              <div>
                <h3>
                  Obtener el pronóstico de tus próximos días fértiles,
                  selecciona WhatsApp o SMS y haz click en el botón.
                </h3>
                <div class="div-boton">
                  <button
                    (click)="sendNextFertileDaysWA()"
                    class="buttonVenus"
                    mat-raised-button
                  >
                    Enviar por WA
                  </button>
                  <button
                    (click)="sendNextFertileDaysSMS()"
                    class="buttonVenus"
                    mat-raised-button
                  >
                    Enviar por SMS
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="wrapper-pronosticos">
          <h1>Envío de reportes por correo</h1>
          <div class="reportes">
            <div class="wrapper-imagen">
              <img
                src="../../../assets/siguiente-periodo.png"
                height="66"
                width="66"
              />
            </div>
            <div class="notifications-section">
              <h3>Obtener un reporte del mes actual de tu ciclo menstrual.</h3>
              <div class="div-boton">
                <button
                  (click)="sendMonthlyReport()"
                  class="buttonVenus long-button"
                  mat-raised-button
                >
                  Enviar
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <div
        style="
          display: flex;
          align-items: center;
          justify-content: center;
          color: black;
        "
      >
        <h3 style="margin: 0">Medicamentos</h3>
      </div>
    </ng-template>

    <div class="med-wrapper">
      <div class="left-med-wrapper">
        <div class="password-reset-container">
          <div class="password-reset-form">
            <h1>Agrega tus medicamentos</h1>
            <div class="formWr">
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Nombre</mat-label>
                <input
                  matInput
                  type="text"
                  [(ngModel)]="formName"
                  name="title"
                  (change)="printToConsole($event)"
                />
                <mat-hint></mat-hint>
              </mat-form-field>

              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Dosis</mat-label>
                <input
                  matInput
                  type="text"
                  [(ngModel)]="formDosis"
                  name="title"
                  (change)="printToConsole($event)"
                />
                <mat-hint></mat-hint>
              </mat-form-field>

              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Frecuencia</mat-label>
                <mat-form-field class="full-width">
                  <mat-select [(ngModel)]="formFrecuencia">
                    <mat-option
                      *ngFor="let frec of frecuencias"
                      [value]="frec"
                      >{{ frec }}</mat-option
                    >
                  </mat-select>
                </mat-form-field>

              </mat-form-field>
            </div>
            <div class="button-container">
              <button
                (click)="salvarMedicamento()"
                class="buttonVenus long-button"
                mat-raised-button
              >
                Guardar
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="right-med-wrapper">
        <div class="lista-med">
          <h1>Lista de medicamentos</h1>

          <mat-action-list>
            <mat-card *ngIf="medicinas.length === 0">
              <div class="med-carta">
                <mat-card-content
                  >No hay medicamentos registrados</mat-card-content
                >
              </div>
            </mat-card>
            <mat-card *ngFor="let med of medicinas">
              <div class="med-carta">
                <mat-card-header
                  ><h2>{{ med.name }}</h2></mat-card-header
                >
                <mat-card-content
                  ><h3>{{ med.dosis }}</h3></mat-card-content
                >
                <mat-card-content
                  ><h3>{{ med.frecuencia }}</h3></mat-card-content
                >
                <mat-card-footer>
                  <div class="boton">
                    <button
                      mat-stroked-button
                      style="color: #3f51b5"
                      (click)="editarMedicamento(med.medicine_id)"
                    >
                      Editar
                    </button>
                    <button
                      mat-stroked-button
                      color="warn"
                      (click)="borrarMedicamento(med.medicine_id)"
                    >
                      Borrar
                    </button>
                  </div>
                </mat-card-footer>
              </div>
            </mat-card>
          </mat-action-list>
        </div>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
