.file-input {
    display: none;
}

.container{
    background-color: #f25287;
    font-size: medium;
    height: 30px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
  