.btn-primary {
  --bs-btn-color: #df5583 !important;
  --bs-btn-bg: #f7d9d9;
  --bs-btn-border-color: ;
  --bs-btn-active-bg: #df5583;
  --bs-btn-active-border-color: #df5583;
  --s-btn-hover-color: #fff;
  --bs-btn-hover-bg: #df5583;
  --bs-btn-hover-border-color: #df5583;
}


