.container {
  display: flex;
  margin-top: 3%;
  justify-content: center;
}

.image-container {
  text-align: center;
  width: 100%;
  height: 100%; /* Centrar horizontalmente la imagen */
}

.image-container img {
  width: 100%;
  height: 100%;
}

.left-section {
  flex: 1;
  align-items: center; /* Centrar verticalmente la imagen */
  background-color: #f0f0f0;
  max-width: 50%; /* Cambia este valor según tus necesidades */
  text-align: center; /* Centra la imagen horizontalmente */
}

.right-section {
  flex: 1;
  padding: 20px;
  background-color: white;
}

.rcorners1 {
  border-radius: 0px 20px 20px 0px;
}

@media (max-width: 768px) {
  .custom-button {
    margin-top: 10px !important;
  }

  .right-section {
    padding-top: 40px;
  }

  .container {
    flex-direction: column;
  }

  .image-container {
    background-color: white;
  }

  .long-button {
    width: 300px !important;
  }

  .left-section,
  .right-section {
    flex: none;
  }

  .right-section {
    border-width: 1px;
    border-color: #dddddd;
    border-style: solid;
  }

  .rcorners1 {
    border-radius: 10px;
  }
}
