.dialog-content{
  margin: 0 auto;
  font-size: 20px;
  min-width: 350px;
  max-width: 700px;
  line-height: 20px;

  button{
    margin-right: 10px;
  }
  mat-label{
    width: 100%;
  }
  span{
    font-size: 30px;
  }
}


.form-calendar{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;

  mat-form-field{
    margin-left: 20px;
    width: 40%;
  }
}

.mat-form-field-flex {
  width: max-content;
}
