<form (ngSubmit)="formSubmit()">
  <h1>Recuperación de contraseña</h1>
  <mat-form-field class="full-width" appearance="outline">
    <mat-label>Email</mat-label>
    <input
      [(ngModel)]="dialogEmail.email"
      name="email"
      required
      matInput
      placeholder="Digite su correo electrónico"
    />
    <mat-hint>El correo de usuario debe ser válido</mat-hint>
  </mat-form-field>

  <div class="container text-center">
    <button type="submit" mat-raised-button class="button-color custom-button">
      Enviar
    </button>
  </div>
</form>
